@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


.container{
    width: 80%;
    margin:0 auto;
}

body{
    font-family: "Roboto";
    background-color: lightblue;
}